server:
  port: 8080
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

spring:
  datasource:
    write:
      url: ${DB_URL}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
    read:
      url: ${DB_URL}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  jackson:
    time-zone: Asia/Seoul
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true          # SQL 예쁘게 출력
        use_sql_comments: true
        dialect: org.hibernate.dialect.MariaDBDialect
  redis:
    host: ${REDIS_IP}
    port: ${REDIS_PORT}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_ID}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
    test-connection: true

jwt:
  secret: ${SECRETKEY}
  expiration: 3600000 # 1 hour in ms

portone:
  api:
    key: ${PORTONE_API_KEY}
    secret: ${SECRET_API_KEY}

coolsms:
  apikey: ${api_key}
  apisecret: ${api_secret}
  fromnumber: ${phone_number}

management:
  endpoints:
    web:
      base-path: /api/actuator
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    db:
      enabled: true
    mail:
      enabled: false
    diskspace:
      enabled: false
    ping:
      enabled: false
    ssl:
      enabled: false
